<div class="container mb-5">
    <nav class=" container navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="m-5 text-white">Log Out</h1>
        </div>
    </nav>
</div>
<div class="alert alert-success" role="alert">
    <h2>See you soon {{user}}!</h2>
</div>
<script>
    setTimeout(function () {
        window.location = "/login";
    }, 2000)
</script>